<%- include('head.ejs') %>
<link rel="stylesheet" href="./styles/footer.css">
<footer>
	<nav class="footer-nav">
		<ul>
			<li><a href="/products">PRODUCTS</a></li>
			<li><a href="/about">ABOUT</a></li>
			<li><a href="contact">CONTACT</a></li>
		</ul>
	</nav>
	<p class="copyright">Copyright &copy; intebots 2022</p>
</footer>