<%- include('head.ejs') %>
<link rel="stylesheet" href="./styles/nav-bar.css">

<div class="header-container">
   <h1 class="logo"><a href="/">INTEBOTS</a></h1>
   <a class="login" href="/sign_up">Sign Up</a>
</div>