<%- include('./partials/head.ejs') %>
<title>Contact</title>
<link rel="stylesheet" href="/styles/.css">
<body>
	<%- include('./partials/logo.ejs') %>
 
	 
	<h1>contact page</h1>
 
	
	<%- include('./partials/footer.ejs') %>
</body>
</html>