<%- include('./partials/head.ejs') %>
<title>Intebots</title>
<link rel="stylesheet" href="/styles/new-home-style.css">
<body>
	<%- include('./partials/logo.ejs') %>
 
	<section class="show-case">
		<div>
			<h1>LIFE.<br>ROBOTS.</h1>
			<p>At intebots we believe that the future is in robotics and we aim to take the hassle out of your life.</p>
			<button>VIEW</button>
		</div>
	</section>

	<section class="why">
		<div>
			<h1>Why Intebots?</h1>
			<p>We're built for growing businesses. Put our marketing and sales tools behind your idea, dream, brand, or business and we'll help you 
				share it with the world
			</p>
			<img src="https://imageio.forbes.com/specials-images/imageserve/61d66f8dbbb58ffd41f3d174/AI-and-robotics/960x0.jpg?format=jpg&width=960">
		</div>
	</section>
	
	<%- include('./partials/footer.ejs') %>
</body>
</html>