<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/home_style.css">
	<title>Home</title>
</head>
<body>
	<div class="logo">
		<h1>INTEBOTS</h1>
	</div>
	<nav>
		<ul>
			<li><a href="">PRODUCTS</a></li>
			<li><a href="">ABOUT</a></li>
			<li><a href="">CONTACT</a></li>
		</ul>
	</nav>

	<section>
		<div>
			<h2>life.robots</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nulla tenetur facilis, eius praesentium harum itaque 
				facere eum sint officia? Aliquam, sint excepturi totam atque facilis repellat dolore ipsam voluptatum.
			</p>
			<button>view robots</button>
		</div>
	</section>

	<footer>
		<p>Copyright &copy; intebots 2022</p>
	</footer>
</body>
</html>