<%- include('./partials/head.ejs') %>
<title>Products</title>
<link rel="stylesheet" href="/styles/product-styles.css">
<body>
	<%- include('./partials/logo.ejs') %>

	<div class="container">
		<div class="product-container">
			<h3>T-1000</h3>
			<img src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/015a4e67-2845-48e0-81bd-a9e8032d8b37.__CR0,0,970,600_PT0_SX970_V1___.png">
			<p class="description">The T-1000 is a fictional character in the Terminator franchise. A shapeshifting android assassin, the T-1000 is the main antagonist of Terminator 2: Judgment Day</p>
				<p class="price">Price: $120.00</p>
				<button class="buy-button">buy</button>
		</div>
		<div class="product-container">
			<h3>T-X</h3>
			<img src="https://cdn11.bigcommerce.com/s-xku293zif5/images/stencil/1280x1280/products/3671/8165/terminator_jacket__75016.1637153975.jpg?c=2?imbypass=on">
			<p class="description">The T-X is the name of a fictional cyborg assassin who appears in the Terminator franchise. The T-X model is a gynoid assassin and infiltrator.</p>
				<p class="price">Price: $250.00</p>
				<button class="buy-button">buy</button>
		</div>
		<div class="product-container">
			<h3>T-850</h3>
			<img src="https://i.ytimg.com/vi/XI-Fmx9SYnw/hqdefault.jpg">
			<p class="description">The Cyber Research Systems Series 850 Terminator, also known as T-850 Terminator or T-850 Battle Robot, is a variant of the Series 800 Terminator mass-produced by Skynet</p>
				<p class="price">Price: $180.00</p>
				<button class="buy-button">buy</button>
		</div>
		<div class="product-container">
			<h3>Hunter Killer</h3>
			<img src="http://kaiju.wdfiles.com/local--files/wiki:hunter_killer/hunter_killer_aerial_2015_01.jpg">
			<p class="description">A Hunter-Killer (HK) is an artificially intelligent autonomous war machine, including robot and android, designed and built in automated factories. They comprise the majority of the "soldiers" in Skynet's army.</p>
				<p class="price">Price: $500.00</p>
				<button class="buy-button">buy</button>
		</div>
	 </div>

 	<%- include('./partials/footer.ejs') %>
</body>
</html>