@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	.about-title {
		margin-top: 3em;
		text-align: center;
		font-family: Andale Mono, monospace;
		font-size: 3em;
		padding-top: 0em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 0em;
	}

	.about-text {
		padding: 1.5em;
	}

	.about-text p {
		font-size: 1.5em;
	}
}