@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
	}

	footer {
		margin-top: 5em;
		padding-top: 1em;
		background-color: grey;
	}

	.footer-nav ul {
		list-style-type: none;
		padding: 0;
		text-align: center;
		line-height: 2em;
	}

	.footer-nav a {
		color: white;
		text-decoration: none;
	}

	.copyright {
		margin-top: 3em;
		margin-bottom: 0px;
		padding-bottom: 1em;
		text-align: center;
		color: white;
	}
}

@media only screen and (min-width: 599px) and (max-width: 850px) {
	body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
 
	footer {
		margin-top: 5em;
		padding-top: 1em;
		background-color: grey;
	}

	.footer-nav ul {
		list-style-type: none;
		padding: 0;
		text-align: center;
		line-height: 2em;
	}

	.footer-nav a {
		color: white;
		text-decoration: none;
	}

	.copyright {
		margin-top: 3em;
		margin-bottom: 0px;
		padding-bottom: 1em;
		text-align: center;
		color: white;
	}
}